.p-form {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
mat-form-field {
  width: 200px;
}
table {
  margin-top: 20px;
}

/* Limit mat-select dropdown height and enable scrollbar for vehicles page only */
::ng-deep .mat-select-panel {
  max-height: 120px !important; /* About 3 items */
  overflow-y: auto !important;
}
